.vscode / *
! .vscode / settings.json
! .vscode / tasks.json
! .vscode / launch.json
! .vscode / extensions.json
* .code-espacio de trabajo

# Historial local para el código de Visual Studio
.historia /
